<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <div>
      <div class="content-box">
        <div class="content">
          <p id="status-code"><%= status %></p>
          <p id="error-msg"><%= error %></p>
          <p id="redirect">
            <a href="http://localhost:8002/">Go to HomePage</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
